# General
PORT=3000
NODE_ENV=development
SERVER_URL=http://localhost:3000
# Database
MONGODB_URI=mongodb://localhost:27017/

# Mongoose Model Migration
MIGRATE_MODE=development
MIGRATE_MONGO_URI=mongodb://localhost:27017/
MIGRATE_AUTOSYNC=true

# CORS
CORS_ORIGIN=http://localhost:3000

# Data Field Encryption Key
DATA_ENC_KEY=hackmeifyoucan

# Search key for Hashed fields
SEARCH_KEY=searchmeifyoucan

# Authenticated session secret key
AUTH_SECRET_KEY=loginifyoucan

# Authenticated session expiry in miliseconds
SESSION_EXPIRATION=15m

# JWT secret key
JWT_ACCESS_KEY=accessmeifyoucan
JWT_REFRESH_KEY=refreshmeifyoucan

# Auth Token Expiry in miliseconds
REFRESH_TOKEN_EXPIRATION=7d
ACCESS_TOKEN_EXPIRATION=15m

# Max device login sessions per user
MAX_DEVICE_SESSIONS=5